
*{ 
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6f5;   
}

header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

header li {
    display: inline;
    width: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 5px;
}

header li a {
    color: #f5f6f5;
    text-decoration: none;
}

.container {
    width: 90%; 
    max-width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

  
section {
        padding: 16px 0;
}

 section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display:inline-block;
    text-decoration:none;
    font-weight: bold;
    margin-top: 8px;
}   

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1 );
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #a3c2d4b6;
}

#economy .articles article a {
    background-color:  #316380da;
    
}

#music {
    background-color:  rgb(185, 193, 209) ;
}

#music .articles article a {
    background-color: rgba(71, 101, 158, 0.678);    
}
    
#movie {
    background-color: #9bd3bdb6;
}

#movie .articles article a {
    background-color: #166d4ae3
}